.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #acb6e5;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00b4d8;
}
.loginTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
}

.loginBtn {
  background-color: #0077cc;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerBtn {
  background-color: #223746;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginBtn:hover {
  background-color: #005ea8;
}

p {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

a {
  color: #0077cc;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #005ea8;
}
